html {
  height: 100%;
  font-family: "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo,
    sans-serif;
}

body {
  background-color: #c3c6d32c;
  height: 100%;
  margin: 0;
}

#root {
  margin: 0 auto;
  max-width: 1000px;
  height: 100%;
}

main {
  height: 100%;
  box-sizing: border-box;
  padding-top: 56px;
}

.home {
  width: 100%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  .calendar {
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 300px;
    &__container {
      // box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
      background-color: white;
      // position: relative;
    }
  }
  .schedule,
  .diary {
    // margin-top: 20px;
    width: 100%;
    min-width: 300px;
    &__container {
      // width: 95%;
      // box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
      background-color: white;
      position: relative;
      min-height: 200px;
      margin: 0 auto;
    }
  }
  // .diary__container{
  //   margin-bottom: 20px;
  // }
}

.p-calendar {
  position: relative;
  background-color: white;
  width: 100%;
  max-width: 1000px;
}

.p-diaries {
  overflow: scroll;
  height: 100%;
}

.p-ToDoList {
  overflow: scroll;
  height: 100%;
}

.form {
  margin: 0 auto;
  width: 90%;
  max-width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.container__header {
  & h2 {
    font-size: 1.2rem;
    font-weight: 200;
    margin: 0;
    line-height: 56px;
    padding-left: 30px;
    margin: 0 auto;
  }
  // border: 1px solid #3f51b5;
  background-color: #20295f;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: space-between;
  height: 56px;
  // max-height: 40px;
  padding: 0 16px;
  margin: 0;
}

.loading {
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-flow: column;
  justify-content: center;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 9999;

  & > p {
    color: #444;
    font-weight: 600;
    margin-top: 1rem;
    text-align: center;
  }
}

.validation {
  height: 20px;
}

.dialogHeader {
  display: flex;
  justify-content: flex-end;
  min-height: 48px;
  background-color: #20295f;
  color: white;
  align-items: center;
}
.empty-item{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align:center;
  // padding-top: 100px;
  color: rgba(0, 0, 0, 0.54);
}

/*********** Module Spacer ***********/
.module-spacer--extra-small {
  height: 12px;
}
.module-spacer--small {
  height: 20px;
}
.module-spacer--medium {
  height: 32px;
}
